.nav {
    background-color: rgb(76, 89, 161);
    color: #fff;

    &__list {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        text-decoration: none;
    }

    &__input {
        position: relative;
        padding-left: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 40px;
        border: none;
        font-size: 2rem;
        border-radius: 20px;
    }

    &__logo-text {
        font-size: 2.5rem;
    }

    &__form--icon {
        padding-left: 5px;
        position: absolute;
        top: 5.5%;
        z-index: 22;
        color: #333;
    }
}