.word-meaning {
    padding-top: 20px;
}

.word {
    font-size: 8rem;
    font-weight: 300;
    font-family: 'Inria Serif';
    word-spacing: 8px;
}

.word__describe {
    padding-top: 20px;
    width: 50%;
    line-height: 1.5;
    font-size: 2.5rem;
    color: rgb(20, 46, 75);
    font-weight: 300;
    font-family: 'Inria Serif';
}